<div class="container">
  <form #searchGenre="ngForm" (ngSubmit)="onSubmit()" class="row">
    <div class="col-8">
      <div class="form-group">
        <div class="form-label">Genre</div>
        <select name="genre" class="form-control" [(ngModel)]="selected">
          <option name="option" *ngFor="let item of genres" [value]="item.id">{{
            item.name
          }}</option> </select
        ><br />
      </div>
    </div>
    <div class="col-4">
      <br />
      <input class="form-control" type="submit" value="Search" />
    </div>
  </form>
</div>
<app-anime-list [animes]="animes"></app-anime-list>
