.presentation {
  height: 865px;
  margin-top: 0;
  text-align: center;

  background: rgb(0, 1, 64);
  background: radial-gradient(
    circle,
    rgba(0, 1, 64, 1) 0%,
    rgba(0, 4, 191, 1) 50%,
    rgba(0, 1, 64, 1) 100%
  );
}

.presentation h1 {
  color: white;
  text-shadow: 0 0 5px grey;
  padding-top: 320px;
  text-align: center;
}

.presentation h3 {
  text-align: center;
  color: white;
  width: 50%;
  margin: 25px auto;
}

.home-button {
  text-align: center;
  display: inline-block;
  font-size: 1em;
  color: black;
  text-decoration: none;
  background: white;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  width: 28%;
  margin: 2%;
  margin-top: 20px;
}
