.presentation {
  height: 900px;
  text-align: center;

  background: rgb(227, 134, 12);
  background: radial-gradient(
    circle,
    rgba(227, 134, 12, 0.9108018207282913) 0%,
    rgba(226, 14, 14, 0.8379726890756303) 50%,
    rgba(242, 10, 10, 0.7931547619047619) 100%
  );
}

.presentation h1 {
  color: white;
  text-shadow: 0 0 5px grey;
  padding-top: 320px;
  text-align: center;
}

.presentation h3 {
  text-align: center;
  color: white;
  width: 50%;
  margin: 25px auto;
}

.presentation a {
  text-align: center;
  display: inline-block;
  font-size: 1em;
  color: black;
  text-decoration: none;
  background: white;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px grey;
  width: 16%;
  margin: 2%;
  margin-top: 20px;
}
