<div class="container">
  <h1 class="page-title">Top Animes</h1>
  <form
    name="animeSearch"
    #searchForm="ngForm"
    class="row form"
    (ngSubmit)="onSubmit()"
  >
    <div class="col-sm-12 col-md-8">
      <div class="form-group">
        <label for="name">Anime name</label>
        <input
          #name="ngModel"
          name="name"
          class="form-control"
          type="text"
          [(ngModel)]="animeRequest.name"
          required
        />
      </div>
    </div>
    <div class="col-sm-12 col-md-2">
      <div class="form-group">
        <label for="status">Status</label>
        <select
          [(ngModel)]="animeRequest.status"
          class="form-control"
          name="status"
          id="status"
        >
          <option *ngFor="let stat of status" value="{{ stat }}">{{
            stat
          }}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 col-md-2">
      <input
        style="margin-top: 41px;"
        class="btn btn-danger"
        type="submit"
        value="Search"
      />
    </div>
  </form>
</div>
<app-anime-list [animes]="animes"></app-anime-list>
