.card-img-top {
  height: 300px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  height: 500px !important;
}

.anime {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  width: 100%;
}

.form-control {
  margin-top: 10px;
}
