<div class="container">
  <h1 class="title">Top animes</h1>
  <!-- Search form -->
  <form
    name="animeSearch"
    #searchForm="ngForm"
    class="row form"
    (ngSubmit)="onSubmit()"
  >
    <div class="col-sm-12 col-md-6">
      <input
        #name="ngModel"
        name="name"
        class="form-control"
        type="text"
        [(ngModel)]="animeRequest.name"
        required
      />
    </div>
    <div class="col-sm-12 col-md-2">
      <select
        [(ngModel)]="animeRequest.type"
        class="form-control"
        name="type"
        id="type"
      >
        <option *ngFor="let item of types" value="{{ item }}">{{
          item
        }}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-2">
      <select
        [(ngModel)]="animeRequest.status"
        class="form-control"
        name="status"
        id="status"
      >
        <option *ngFor="let stat of status" value="{{ stat }}">{{
          stat
        }}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-2">
      <input class="form-control" type="submit" value="Search" />
    </div>
  </form>
  <!-- Top animes -->
  <div class="row">
    <div *ngFor="let item of animes" class="col-sm-12 col-md-3 col-lg-3">
      <div class="anime">
        <div class="card">
          <img
            class="card-img-top"
            src="{{ item.image_url }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.start_date }} - {{ item.end_date }}</p>
            <a [routerLink]="['/anime', item.mal_id]" class="btn btn-primary"
              >More info</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
