<h1 class="page-title">Top animes (ranked by MyAnimeList.com)</h1>
<form
  name="animeSearch"
  #searchForm="ngForm"
  class="row form"
  (ngSubmit)="onSubmit()"
>
  <div class="col-md-8">
    <input
      #name="ngModel"
      name="name"
      class="form-control"
      type="text"
      placeholder="Anime name"
      [(ngModel)]="animeName"
      required
    />
  </div>
  <div class="col-md-4">
    <input class="form-control" type="submit" value="Search" />
  </div>
</form>
<div class="row">
  <div *ngFor="let item of topAnimes" class="col-sm-12 col-md-3">
    <div class="card h-100" style="width: 100%;">
      <img
        class="card-img-top"
        src="{{ item.image_url }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.start_date }} - {{ item.end_date }}</p>
        <a
          [routerLink]="['/anime', item.mal_id]"
          routerLinkActive="router-link-active"
          class="btn btn-primary"
          >More info</a
        >
        <a href="{{ item.url }}" class="btn btn-primary">My anime list</a>
      </div>
    </div>
  </div>
</div>
