h1 {
  font-size: 30px;
}

.anime-title {
  font-size: 26px;
  text-align: center;
}

.anime-synopsis {
  text-align: justify;
}

.anime-image {
  text-align: center;
  width: 100%;
}

section {
  margin: 10px 0;
}

.character {
  text-align: center;
  margin: 5px 0;
}
.character p {
  height: 30px;
}

.character img {
  height: 200px;
}

.character p {
  width: 100%;
}

.see-more {
  line-height: 100px;
  margin-top: 70px;
}

.article {
  padding: 10px;
  height: auto;
}

.article p {
  height: 50px;
  text-align: justify;
  overflow: hidden;
  margin-bottom: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 80px;
  width: 80px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: red;
}
