.title {
  color: #000140;
  text-align: center;
}

.btn {
  background-color: #000140;
  color: white;
}

.section-title {
  background: rgb(0, 1, 64);
  background: linear-gradient(
    90deg,
    rgba(0, 1, 64, 1) 0%,
    rgba(0, 4, 191, 1) 50%,
    rgba(0, 1, 64, 1) 100%
  );
}
